*{
    box-sizing: border-box;
}
body {
  background-image: url(/imagen/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registro-wrapper{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}